* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #00aaff, #bbff00);
    font-family: 'Glory', sans-serif;
}

.calculator 
{
    position: relative;
    display: grid;
}

.calculator .value
{
    grid-column: span 4;
    height: 100px;
    text-align: end;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
}

.calculator span 
{
    display: grid;
    width: 80px;
    height: 80px;
    color: #fff;
    background: #0c2835;
    border: 1px solid #091921;
    place-items: center; /* per mettere i numeri al centro del quadratino */
    cursor: pointer;
}

.calculator span:hover
{
    background-color: #48768b;
}

.calculator span.clear
{
    background-color: #ff8b56;
    grid-column: span 2;
    width: 160px;
}

.calculator span.clear:hover
{
    background-color: #ffa57c;
}

.calculator span.plus
{
    grid-row: span 2;
    height: 160px;
}



.calculator span.equal
{
    background-color: #3575ff;
}

.calculator span.equal:hover
{
    background-color: #6c9aff;
}

.calculator .num 
{
    font-size: 25px;
}


@media screen and (max-width: 320px)
{
    body 
    {
        height: 100vh;
    }
}


@media screen and (min-width: 321px) and (max-width: 1024px)
{
    body 
    {
        height: 90vh;
    }
}
